<!DOCTYPE html>
<html>
  <head>
    <title>Video Conference</title>
    <script
      src="https://cdn.socket.io/4.7.2/socket.io.min.js"
      integrity="sha384-mZLF4UVrpi/QTWPA7BjNPEnkIfRFn4ZEO3Qt/HFklTJBj/gBOV8G3HcKn4NfQblz"
      crossorigin="anonymous"
    ></script>
    <style>
      * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
      }
      html {
        height: 100%;
      }
      body {
        height: inherit;
        padding: 15px;
      }
      .container {
        display: grid;
        grid-template-columns: repeat(auto-fill, 400px);
        gap: 25px;
      }
    </style>
  </head>
  <body>
    <div id="conferenceContainer" class="container"></div>

    <script defer>
      const encodeConfig = {
        codec: "vp8",
        width: 640,
        height: 360,
        // avc: {
        //   format: "annexb",
        // },
        // framerate: 25,
        // hardwareAcceleration: "no-preference",
        // latencyMode: "realtime",
        // bitrateMode: "constant",
        // scalabilityMode: "L1T2",
        // bitrate: 15e5,
      };
      const decodeConfig = {
        codec: "vp8",
        width: 640,
        height: 360,
      };
      const conferenceContainer = document.querySelector(
        "#conferenceContainer"
      );

      let videoContainers = new Map();
      let keyFrames = new Set();
      let videoUpStream, socket, encoder, localVideo;

      const createVideoContainer = async (id) => {
        if (videoContainers.has(id)) return;

        const video = document.createElement("video");
        video.width = 400;
        video.height = 225;
        video.id = id;
        const trackGenerator = new MediaStreamTrackGenerator({ kind: "video" });
        const stream = new MediaStream([trackGenerator]);
        let writer = await trackGenerator.writable.getWriter();
        await writer.ready;

        const handleDecodeOutput = async (videoFrame) => {
          writer.write(videoFrame);
          videoFrame.close();
        };

        const handleDecodeError = (error) => {
          console.log(error);
        };

        const decoder = new VideoDecoder({
          output: handleDecodeOutput,
          error: handleDecodeError,
        });

        decoder.configure(decodeConfig);

        videoContainers.set(id, {
          stream,
          writer,
          trackGenerator,
          video,
          decoder,
        });

        conferenceContainer.append(video);

        video.srcObject = stream;
        video.play();
      };

      const removeVideoContainer = (id) => {
        if (!videoContainers.has(id)) return;

        let { decoder, writer, stream, video } = videoContainers.get(id);
        decoder.close();
        writer.close();
        closeStream(stream);
        video.remove();
        videoContainers.delete(id);
      };

      const decodeVideoChunk = async (data, id) => {
        if (!keyFrames.has(id)) return;

        if (!videoContainers.has(id)) return;

        const encodedChunk = new EncodedVideoChunk({
          data: data.buffer,
          timestamp: data.timestamp,
          type: data.type,
        });

        videoContainers.get(id).decoder.decode(encodedChunk);
      };

      const initSocket = () => {
        socket = io();

        socket.on("userIn", createVideoContainer);

        socket.on("receiveVideoChunk", decodeVideoChunk);

        socket.on("userOut", removeVideoContainer);

        socket.on("receiveKeyFrame", async (data, id) => {
          await createVideoContainer(id);
          keyFrames.add(id);
          decodeVideoChunk(data, id);
        });

        socket.emit("joinConference");
      };

      const createLocalContainer = async () => {
        localVideo = document.createElement("video");
        localVideo.width = 400;
        localVideo.height = 225;
        localVideo.id = "local";

        videoUpStream = await navigator.mediaDevices.getUserMedia({
          video: { aspectRatio: 16 / 9 },
          audio: false,
        });

        localVideo.srcObject = videoUpStream;
        localVideo.play();

        conferenceContainer.append(localVideo);
      };

      const joinConference = async () => {
        await createLocalContainer();

        initSocket();

        const videoTrack = videoUpStream.getVideoTracks()[0];

        const trackProcessor = new MediaStreamTrackProcessor({
          track: videoTrack,
        });

        const handleEncodeOutput = async (chunk) => {
          let buffer = new ArrayBuffer(chunk.byteLength);
          chunk.copyTo(buffer);

          socket.emit("sendVideoChunk", {
            buffer,
            type: chunk.type,
            timestamp: chunk.timestamp,
          });
        };

        const handleEncodeError = (error) => {
          console.log(error);
        };

        encoder = new VideoEncoder({
          output: handleEncodeOutput,
          error: handleEncodeError,
        });

        encoder.configure(encodeConfig);

        const frameReader = trackProcessor.readable.getReader();

        const processVideoFrame = async () => {
          try {
            const { done, value: videoFrame } = await frameReader.read();
            if (done) return;
            encoder.encode(videoFrame);
            videoFrame.close();
            processVideoFrame();
          } catch (error) {
            console.log(error);
          }
        };

        processVideoFrame();
      };

      const closeStream = (stream) => {
        stream.getVideoTracks()[0].stop();
      };

      const leaveConference = () => {
        socket.close();

        for (let [key, { decoder, stream, video, writer }] of videoContainers) {
          decoder.close();
          writer.close();
          closeStream(stream);
          video.remove();
        }

        videoContainers.clear();
        localVideo.remove();
        closeStream(videoUpStream);
        encoder.close();

        socket = undefined;
        encoder = undefined;
        videoUpStream = undefined;
      };
    </script>
  </body>
</html>
